WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
CLERK_SECRET_KEY=
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/incendie?useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

