:80, http://fire.work.gd {
    # Frontend
    reverse_proxy frontend:3000

    # API Spring Boot (via /api)
    handle_path /api/* {
        reverse_proxy backend:8080
    }

    # Node-RED (via /red)
    handle_path /red/* {
        reverse_proxy nodered:1880
    }
}