:80 {
    # Redirection vers l'API Backend (préserve le préfixe /api)
    handle /api/* {
        reverse_proxy backend:8080
    }

    # Redirection vers phpMyAdmin
    handle_path /phpmyadmin/* {
        reverse_proxy phpmyadmin:8081
    }

    # Redirection vers Node-RED (retire le préfixe /red)
    handle_path /red/* {
        reverse_proxy nodered:1880
    }

    # Redirection par défaut vers le Frontend
    reverse_proxy frontend:3000
}